/dwm-flexipatch/*.o
/dwm-flexipatch/dwm
/dwm-flexipatch/config.h
/dwm-flexipatch/patches.h
/dwmblocks/*.o
/dwmblocks/dwmblocks
/dwmblocks/blocks.h
/st-flexipatch/*.o
/st-flexipatch/st
/st-flexipatch/config.h
/st-flexipatch/patches.h

/dwm.bak/*.o
/dwm.bak/dwm
/st.bak/*.o
/st.bak/st
